# Database
DATABASE_URL="postgresql://user:password@localhost:5432/musicbox?schema=public"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Organization ID (for single-tenant Adea EPK)
NEXT_PUBLIC_ORG_ID=""
